{% extends 'AppBundle::base.html.twig' %}

{% block body %}
  <div class="container">
    <h4>Tasks:</h4>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>id</th>
            <th>Task</th>
            <th>Completed</th>
            <th>Created by</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for task in tasks %}

          <tr><td>{{ task.id }}</td> <td><a href="{{ path('task_show', {'task_id': task.id}) }}"> {{ task.task }} </a></td> <td>{{ task.completed }}</td><td>{{ task.createdby }}</td>
            <td>

                <a href="#"><i class="fa fa-list" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-times" aria-hidden="true"></i></a>

              </td></tr>
          {% endfor %}
        </tbody>
      </table>

    <a href="{{ url('formpage') }}">create</a> task.
  </div>
{% endblock %}
